html *{
    font-family: 'open-sans', sans-serif;
    
}
*{
    margin: 0;
    padding: 0;
}

h2{
  text-align: center;
}

body{
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.navbar{
  padding: 10px;
  background: #ffffff;
  width: 100%;
  border-bottom: 2px solid #f2f2f2; 
  position: fixed;
}

.left-navbar{
  float: left;
  width: 70%;
}
.logo{
  float: left;
  
}
.list-button{
  float: right;
}
.right-navbar{
  float: right;
  
}
.login{
  margin-right: 30px;
}


button {

    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button {
    background-color: white; 
    color: black; 
    border: 2px solid #26532b;
    font-size: 14px;
    padding: 10px 18px;
}

.button:hover {
    background-color: #26532b;
    color: white;
}
.btn{
  background-color: #26532b;
    color: white;
    font-size: 16px;
}
.btn:hover {
    background-color: white; 
    color: black; 
        
}


.nav-wrapper {
        width: 100%;
        background-color:#fff;
        color:#000;
        transition: all 0.25s ease;
        position:fixed;
        z-index: 10;
        width:100%;
        padding-top: 7px;
        border-bottom: 2px solid #f8f8f8;

    /* make sure to add vendor prefixes here */
    }
    .logo{
        float: left;
    }
    .nav-menu{
        float: right;
    }

   

    .list-button{
        float: left;
        margin-top: 10px;
    }
    .register{
        float: right;
        padding-bottom: 10px;
        margin-top: 0px;
    }
    .register li{
        display: inline;
        list-style: none;
        padding-right: 20px;
    }
    
    .nav-menu .register button{
        border: none;
        background-color: transparent;
        color: black;
        text-align: center;
        cursor: pointer;
        font-size: 20px;

    }
        .nav-menu .register button:hover{
            color: orange;
        }

        .wish-list{
        border-radius: 50%;
        border: 2px solid orange;
        padding: 4px;
        cursor: pointer;
        }
        .wish-list:hover{
            background: orange;
        }



    .nav-button {
    background-color: transparent; /* Green */
    border: none;
    color: black;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid orange;
    font-size: 16px;
    margin: 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    letter-spacing: 1px
}



.nav-button:hover {
    background-color: orange;
    color: white;
}


/**********************************************/


/*****************globals*************/
body {
  font-family: 'open sans';
}
.vertical-menu{

  padding: 10px;
  margin-top: 60px;
  width: 100%;
  float: left;
  height: 100vh;
  
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  

}

.vertical-menu a{
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover{
  background-color: #ccc;
}

.vertical-menu a.active{
  background-color: #26532b;
  color:white;
  margin-bottom: 5px;
}







/* form */
.form-style-5{
    padding: 10px;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}

.form-style-5 .number {
    background: #df6e21;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-1 {

    padding: 50px;
    display: block;
    list-style: none;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none; 
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 350px;
    margin-bottom: 30px;
}

.form-style-1 .field-long{
    width: 100%;

}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: none;
    font-size:18px;

    padding: 8px 15px 8px 15px;
    border: 1px solid #2096ba;
    color: #2096ba;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #2096ba;
    box-shadow:none;
    color:white;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:none;
}

/*new css*/
.inside{
    width: 100%;
    text-align: center;
}

.bar_title{
    padding: 55px;
    text-align: center;
    background-image: url("assets/land4.jpg");
    height: 200px;
}
.small_bar{
    background-color: #ffb74d;
}

form{
  padding-top: 40px;
}

.personal_info{
  padding-bottom: 20px;
}

.one{
  display: inline-flex;
  padding-left: 80px;
}

.two{
  padding-left: 80px;
}

.three{
  padding-left: 80px;
}

.inside input{
  height: 40px;
  
}